<a href="https://colab.research.google.com/github/Eminent01/Binary-Naive-Bayes-Sentimental-Analysis/blob/master/Binary_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#Load the dataset
url="https://github.com/Eminent01/Binary-Naive-Bayes-Sentimental-Analysis/commit/4e241023917a6f3febe7582e42b03165fc194e37"
data=pd.read_csv(url, sep=",")

In [39]:
data=pd.read_csv("/content/IMDB Dataset.csv", sep=',')

In [7]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [40]:
def remove_punctuation(text):
  '''a function for removing punctuation'''
  import string
  # replacing the punctuations with no space, 
  # which in effect deletes the punctuation marks 
  translator = str.maketrans('', '', string.punctuation)
  # return the text stripped of punctuation marks
  return text.translate(translator)

In [41]:
data['review'] = data['review'].apply(remove_punctuation)
data.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive
5  Probably my alltime favorite movie a story of ...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing fresh  innovative ide...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [14]:
data.shape

(50000, 2)

In [46]:
#Convert the sentiment to numerical value......1 for positive and 0 for negative
data = data.replace({'sentiment': {'positive': 1, 'negative': 0}})

In [47]:
data.head(10)

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production br br The filmin...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically theres a family where a little boy J...          0
4  Petter Matteis Love in the Time of Money is a ...          1
5  Probably my alltime favorite movie a story of ...          1
6  I sure would like to see a resurrection of a u...          1
7  This show was an amazing fresh  innovative ide...          0
8  Encouraged by the positive comments about this...          0
9  If you like original gut wrenching laughter yo...          1

##Removing the stopwatch

In [56]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [57]:
from nltk.corpus import stopwords

In [58]:
# extracting the stopwords from nltk library

sw = stopwords.words('english')
# displaying the stopwords
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [59]:
#A function to remove the stopwords
def stopwords(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [60]:
data['review'] = data['review'].apply(stopwords)
data.head(10)

                                              review  sentiment
0  one reviewers mentioned watching 1 oz episode ...          1
1  wonderful little production br br filming tech...          1
2  thought wonderful way spend time hot summer we...          1
3  basically theres family little boy jake thinks...          0
4  petter matteis love time money visually stunni...          1
5  probably alltime favorite movie story selfless...          1
6  sure would like see resurrection dated seahunt...          1
7  show amazing fresh innovative idea 70s first a...          0
8  encouraged positive comments film looking forw...          0
9  like original gut wrenching laughter like movi...          1