<a href="https://colab.research.google.com/github/Eminent01/Binary-Naive-Bayes-Sentimental-Analysis/blob/master/Binary_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import necessary librariessary libaries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##Import the dataset

In [ ]:
#Load the dataset
# url="https://github.com/Eminent01/Binary-Naive-Bayes-Sentimental-Analysis/commit/4e241023917a6f3febe7582e42b03165fc194e37"
# data=pd.read_csv(url, sep=",")

In [ ]:
data=pd.read_csv("/content/IMDB Dataset.csv", sep=',')

In [ ]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

### Convert all the letters in the text word to lower case

In [ ]:
data1=data.apply(lambda x: x.astype(str).str.lower())
data1

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there is a family where a little boy...  negative
4      petter mattei is "love in the time of money" i...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

##Expand contractions in the text file

In [ ]:
!pip install contractions

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.1.68)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.4)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.1)

In [ ]:
import contractions
import re

In [ ]:
contractions_dict = {"ain't": "are not","'s":" is","aren't": "are not", "i've": "i have", "i'm":"i am"}
# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))
def expand_contractions(text,contractions_dict=contractions_dict):
    def replace(match):
        return contractions_dict[match.group(0)]
    return contractions_re.sub(replace, text)
# Expanding Contractions in the reviews
data1['review']=data1['review'].apply(lambda x:expand_contractions(x))

In [ ]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there is a family where a little boy...  negative
4      Petter Mattei is "Love in the Time of Money" i...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

##Remove punctuations

In [ ]:
def remove_punctuation(text):
  '''a function for removing punctuation'''
  import string
  # replacing the punctuations with no space, 
  # which in effect deletes the punctuation marks 
  translator = str.maketrans('', '', string.punctuation)
  # return the text stripped of punctuation marks
  return text.translate(translator)

In [ ]:
data['review'] = data['review'].apply(remove_punctuation)
data.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive
5  Probably my alltime favorite movie a story of ...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing fresh  innovative ide...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [ ]:
data.shape

(50000, 2)

###Convert the sentiment to numerical value......1 for positive and 0 for negative

In [ ]:
#Convert the sentiment to numerical value......1 for positive and 0 for negative
# data = data.replace({'sentiment': {'positive': 1, 'negative': 0}})

In [ ]:
data['label'] = np.where(data['sentiment']=='positive',1,0)

In [ ]:
data.head(10)

                                              review sentiment  label
0  One of the other reviewers has mentioned that ...  positive      1
1  A wonderful little production br br The filmin...  positive      1
2  I thought this was a wonderful way to spend ti...  positive      1
3  Basically theres a family where a little boy J...  negative      0
4  Petter Matteis Love in the Time of Money is a ...  positive      1
5  Probably my alltime favorite movie a story of ...  positive      1
6  I sure would like to see a resurrection of a u...  positive      1
7  This show was an amazing fresh  innovative ide...  negative      0
8  Encouraged by the positive comments about this...  negative      0
9  If you like original gut wrenching laughter yo...  positive      1

##Removing the stopwords

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
# extracting the stopwords from nltk library

sw = stopwords.words('english')
# displaying the stopwords
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [ ]:
#A function to remove the stopwords
def stopwords(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [ ]:
data['review'] = data['review'].apply(stopwords)
data.head(10)

                                              review sentiment  label
0  one reviewers mentioned watching 1 oz episode ...  positive      1
1  wonderful little production br br filming tech...  positive      1
2  thought wonderful way spend time hot summer we...  positive      1
3  basically theres family little boy jake thinks...  negative      0
4  petter matteis love time money visually stunni...  positive      1
5  probably alltime favorite movie story selfless...  positive      1
6  sure would like see resurrection dated seahunt...  positive      1
7  show amazing fresh innovative idea 70s first a...  negative      0
8  encouraged positive comments film looking forw...  negative      0
9  like original gut wrenching laughter like movi...  positive      1

In [76]:
from collections import Counter

from pyparsing import WordStart
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import requests
from io import StringIO
import math


class PreprocessData:
    def __init__(self,path,lang='english'): 
        self.dataset=pd.read_csv(path, sep=",")
        self.stopwords=stopwords.words(lang)
        self.preprocess()
    
    @staticmethod
    def remove_punctuation(text):
        '''a function for removing punctuation'''
        # replacing the punctuations with no space, 
        # which in effect deletes the punctuation marks 
        translator = str.maketrans('', '', string.punctuation)
        # return the text stripped of punctuation marks
        return text.translate(translator)

    def replace_sentiment(self):
    #Convert the sentiment to numerical value......1 for positive and 0 for negative
        self.dataset = self.dataset.replace({'sentiment': {'positive': 1, 'negative': 0}})

    #A function to remove the stopwords
    def remove_stopwords(self,text):
        text = [word.lower() for word in text.split() if word.lower() not in self.stopwords]
        # joining the list of words with space separator
        return " ".join(text)

    def preprocess(self):
        self.dataset['review'] = self.dataset['review'].apply(self.remove_punctuation)
        self.dataset['review'] = self.dataset['review'].apply(self.remove_stopwords)
        self.replace_sentiment()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [77]:
class WordRepresentation:
    def __init__(self,dataset):
        self.dataset=dataset
        self.ponderations={}
        self.vectors={}
        self.frequencies={}
        self.length=0 #The number of words on the dataset
        self.tf_idf()
        self.one_hot()
        self.frequency()
    
    #One hot
    def one_hot(self):
        if self.ponderations or self.frequencies:
            #The case if we have the ponderations or the frequencies , we don't need to search the words again
            #This condition will reduce the time complexity a lot   
            words_dict={}
            if self.ponderations:
                words_dict=self.ponderations
            else:
                words_dict=self.frequencies
            for word in words_dict:
                self.vectors[word]=np.zeros(len(self.dataset))
        else:
            for i in range(len(self.dataset)):
                document=self.dataset.iloc[i,0]
                word_list=document.split(" ")
                for word in word_list:
                    if word not in self.vectors:
                        self.vectors[word]=np.zeros(len(self.dataset))
        #Now we have all the words initialized as vector zero of size the length of the dataset
        for word in self.vectors:
            for i in range(len(self.dataset)):
                document=self.dataset.iloc[i,0]
                if word in document:
                    self.vectors[word][i]=1




    #Frequency encoding
    def frequency(self):
        if self.ponderations or self.vectors:
            #The case if we have the ponderations or the frequences =, we don't need to search the words again
            #This condition will reduce the time complexity a lot
            
            words_dict={}
            if self.ponderations:
                words_dict=self.ponderations
            else:
                words_dict=self.vectors
            for word in words_dict:
                self.frequencies[word]=0
        else:
            for i in range(len(self.dataset)):
                document=self.dataset.iloc[i,0]
                word_list=document.split(" ")
                for word in word_list:
                    if word not in self.frequencies:
                        self.frequencies[word]=0
        #Now we have all the words initialized as zero scalar
        self.compute_length()
        for word in self.frequencies:
            self.frequencies[word]=self.count_word(word)/self.length
    
    
    #This function takes a word and count the number of occurences of the word in the document
    def count_word(self,word):
        sum=0
        for i in range(len(self.dataset)):
            document=self.dataset.iloc[i,0]
            sum+=document.count(word)
        return sum
    #This function compute the length 
    def compute_length(self):
        for i in range(len(self.dataset)):
            document=self.dataset.iloc[i,0]
            word_list=document.split(" ")
            self.length+=len(word_list)
    

    



    #TF_IDF
    def term_frequency(self,word,document):
        #Frequence of the word over number of word of document
        word_list=document.split(" ")
        dict=Counter(word_list) #Give a dictionnary which the keys are the words and the values are the number of occurences in word_list
        return dict[word]/len(word_list)
    
    def inverse_document_frequency(self,word,document):
        N=len(self.dataset)
        #Contains return a list of True or False
        doc_t=len(self.dataset[self.dataset['review'].str.contains(word)])
        return math.log(N/doc_t)

    def tf_idf(self):
        for i in range(len(self.dataset)):
            document=self.dataset.iloc[i,0]
            word_list=document.split(" ")
            for word in word_list:
                if word not in self.ponderations:
                    self.ponderations[word]=self.term_frequency(word,document)*self.inverse_document_frequency(word,document)

In [78]:
path="/content/IMDB Dataset.csv"

In [79]:
documents=PreprocessData(path)

In [121]:
doc1= documents.dataset

In [123]:
doc1

                                                  review  sentiment
0      one reviewers mentioned watching 1 oz episode ...          1
1      wonderful little production br br filming tech...          1
2      thought wonderful way spend time hot summer we...          1
3      basically theres family little boy jake thinks...          0
4      petter matteis love time money visually stunni...          1
...                                                  ...        ...
49995  thought movie right good job wasnt creative or...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  catholic taught parochial elementary schools n...          0
49998  im going disagree previous comment side maltin...          0
49999  one expects star trek movies high art fans exp...          0

[50000 rows x 2 columns]

In [83]:
# label=doc.sentiment

In [130]:
words=WordRepresentation(documents.dataset.iloc[:100,:])

In [131]:
doc=words.vectors

In [132]:
vec=pd.DataFrame(doc)

In [133]:
 vec["label"]=doc1.iloc[:100,-1]

In [134]:
vec

,one,reviewers,mentioned,watching,1,oz,episode,youll,hooked,right,...,describe,360,gamesbr,gripes,upside,restart,superb,challenging,wiibr,label
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
97,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
98,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1

In [135]:
size=int(0.8*len(vec.iloc[:,0]))
size

80

In [136]:
Xtrain=vec.iloc[:size,:-1]
Xtest=vec.iloc[size:,:-1]

In [137]:
Xtrain

,one,reviewers,mentioned,watching,1,oz,episode,youll,hooked,right,...,wii,describe,360,gamesbr,gripes,upside,restart,superb,challenging,wiibr
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [138]:
Xtest

,one,reviewers,mentioned,watching,1,oz,episode,youll,hooked,right,...,wii,describe,360,gamesbr,gripes,upside,restart,superb,challenging,wiibr
80,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [139]:
ytrain=vec.iloc[:size,-1]
ytest=vec.iloc[size:,-1]

In [140]:
ytrain

0     1
1     1
2     1
3     0
4     1
     ..
75    1
76    1
77    0
78    0
79    1
Name: label, Length: 80, dtype: int64

In [52]:
# words.ponderations

In [69]:
# pond=words.ponderations

In [70]:
# train={}
# test={}
# i=0
# for word in pond:
#   if i<size:
#     train[word]=pond[word]
#   else:
#     test[word]=pond[word]
#   i+=1

In [143]:
import numpy as np 


class BinaryNaiveBayes:
  def fit(self, X, y):
    n_samples, n_features = X.shape
    self._classes = np.unique(y)
    n_classes = len(self._classes)

    # calculate mean, var, and prior for each class
    self._mean = np.zeros((n_classes, n_features), dtype=np.float64)
    self._var = np.zeros((n_classes, n_features), dtype=np.float64)
    self._priors = np.zeros(n_classes, dtype=np.float64)

    for idx, c in enumerate(self._classes):
       X_c = X[y == c]
       self._mean[idx, :] = X_c.mean(axis=0)
       self._var[idx, :] = X_c.var(axis=0)
       self._priors[idx] = X_c.shape[0] / float(n_samples)

  def predict(self, X):
     y_pred = [self._predict(x) for x in X]
     return np.array(y_pred)

  def _predict(self, x):
    posteriors = []

    for idx, c in enumerate(self._classes):
      prior = np.log(self._priors[idx])
      posterior = np.sum(np.log(self._pdf(idx, x)))
      posterior = prior + posterior
      posteriors.append(posterior)
  
    # return class with highest posterior probability
    return self._classes[np.argmax(posteriors)]

  def _pdf(self, class_idx, x):
    mean = self._mean[class_idx]
    var = self._var[class_idx]
    numerator = np.exp(-((x - mean) ** 2) / (2 * var))
    denominator = np.sqrt(2 * np.pi * var)
    return numerator / denominator

  def accuracy(y_true, y_pred):
     accuracy = np.sum(y_true == y_pred) / len(y_true)
     return accuracy

In [ ]:
bnb = BinaryNaiveBayes()
bnb.fit(Xtrain, ytrain)
predictions = bnb.predict(Xtest)
print("Naive Bayes classification accuracy", accuracy(ytest, predictions))